<mat-card>
  <mat-card-title *ngIf="_performer">{{_performer.name}}</mat-card-title>

  <mat-card-actions *ngIf="_performer && authorities.includes('ROLE_USER')" >
      <button mat-button [routerLink]="['/performer', _performer.performerId, 'edit']">Edit</button>
      <button mat-button [routerLink]="['/performer', _performer.performerId, 'add']">Add album</button>
      <button mat-button (click)="remove()">Remove</button>
  </mat-card-actions>

  <mat-card-content>
      <app-album-list 
        [albums]="albums"
        [resultsLength]="resultsLength"
        [size]="pageSize"
        [isLoadingResults]="isLoadingResults" 
        [isRateLimitReached]="isRateLimitReached">
      </app-album-list>
  </mat-card-content>


</mat-card>
