<mat-card class="shaddles">
    <mat-card-header>
  <mat-card-title *ngIf="_performer">{{_performer.name}}</mat-card-title>
    </mat-card-header>
  <mat-card-actions *ngIf="_performer && authorities.includes('ROLE_USER')" >
      <mat-toolbar class="example-button-row">
        <button mat-flat-button [routerLink]="['/performer', _performer.performerId, 'add']" color="accent"><mat-icon>add</mat-icon> Add album</button>
        <button mat-flat-button [routerLink]="['/performer', _performer.performerId, 'edit']" color="primary"><mat-icon>edit</mat-icon> Edit</button>  
        <button mat-flat-button (click)="remove()" color="warn"><mat-icon>delete</mat-icon> Remove</button>
      </mat-toolbar>
  </mat-card-actions>

  <mat-card-content>
      <app-album-list 
        [albums]="albums"
        [resultsLength]="resultsLength"
        [size]="pageSize"
        [isLoadingResults]="isLoadingResults" 
        [isRateLimitReached]="isRateLimitReached">
      </app-album-list>
  </mat-card-content>


</mat-card>
