<mat-card>
  <form #performerForm="ngForm" (ngSubmit)="save(performerForm.value)">

    <mat-card-header>
      <mat-card-title>Edit performer</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <input type="hidden" name="performerId" [(ngModel)]="performer.performerId">
      <p>
        <mat-form-field>
          <input matInput placeholder="Name" 
            [(ngModel)]="performer.name" required name="name" #name>
        </mat-form-field>
      </p>
  
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
        [disabled]="!performerForm.form.valid">Save
      </button>

      <a mat-button (click)="gotoPerformer()">Cancel</a>  
          
    </mat-card-actions>

  </form>
</mat-card>
      