<mat-card>
  <mat-card-title>Random Album List</mat-card-title>

  <mat-card-actions>
    <button mat-raised-button color="secondary" (click)="refresh()" 
            type="button">Refresh</button>
    <button mat-raised-button color="secondary" 
            (click)="loadHref(item.value.href)" 
            *ngFor="let item of decades | keyvalue"
            type="button">{{item.value.name}}</button>
    <button mat-raised-button color="secondary" 
            (click)="loadHref(item.value.href)" 
            *ngFor="let item of years | keyvalue"
            type="button">{{item.value.name}}</button>
  </mat-card-actions>

  <mat-card-content>

    <app-album-list [albums]="albums" 
    [resultsLength] ="20"
    [size]="20"
    [isLoadingResults]="isLoadingResults" 
    [isRateLimitReached]="isRateLimitReached"
    matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
  </app-album-list>
    


  </mat-card-content>

</mat-card>
      
