

<mat-card *ngIf="isLoggedIn; else loggedOut">
  Logged in as <b>{{username}}</b>.
</mat-card>

  
<ng-template #loggedOut>
      
  <mat-card>
    <mat-card-title>Login</mat-card-title>      
  
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate  class="example-form">
      <mat-card-content>
        <p>     
          <mat-form-field>
            <input matInput placeholder="Username" [(ngModel)]="form.username" name="username" 
              #username="ngModel" required>
          </mat-form-field>
        </p>

          <!-- <div *ngIf="f.submitted && username.invalid" class="error">
            <div *ngIf="username.errors.required"><p class="error">Username is required</p></div>     
          </div> -->

        <p>
          <mat-form-field>
            <input matInput placeholder="Password" [(ngModel)]="form.password" type="password" 
              name="password" #password="ngModel" minlength="6" required>      
          </mat-form-field>
        </p>

        <!-- <div *ngIf="f.submitted && password.invalid" class="error">
          <div *ngIf="password.errors.required"><p class="error">Password is required</p></div>
          <div *ngIf="password.errors.minlength"><p class="error">Password must be at least 6 characters</p></div>
        </div> -->
        
      </mat-card-content>

      <mat-card-actions>
        <div class="button">
          <button mat-raised-button color="primary">Login</button>
          <p *ngIf="f.submitted && isLoginFailed" class="error">
            Login failed: {{errorMessage}}
          </p>
        </div>
      </mat-card-actions>

    




  </form>

</mat-card>
      
</ng-template>
