<mat-card>
  <mat-card-title>Album List</mat-card-title>
  <mat-card-content>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <app-album-list 
      [albums]="albums"
      [resultsLength]="resultsLength"
      [size]="10"
      [isLoadingResults]="isLoadingResults" 
      [isRateLimitReached]="isRateLimitReached"
      matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
    </app-album-list>
    
  </mat-card-content>
</mat-card>
      
