<mat-toolbar color="primary">
  <span>{{title}}</span>

  <span>
    <a mat-button routerLink="/random">
      <mat-icon>home</mat-icon> Home</a>
</span>
<span>
    <a mat-button routerLink="/performers">
      <mat-icon>library_books</mat-icon> Artists</a>
</span>
<span>
    <a mat-button routerLink="/albums">
      <mat-icon>album</mat-icon> Albums</a>
</span>
<span>
  <a mat-button routerLink="/ratings">
    <mat-icon>queue_music</mat-icon> Ratings</a>
</span>

<span class="example-spacer"></span>

<span *ngIf="authority === 'user'">
  <a mat-button [routerLink]="['/user', loggedUser]">
    <mat-icon>account_circle</mat-icon>
    {{loggedUser}}
  </a>
</span>
<span *ngIf="authority === 'admin'">
  <a mat-button routerLink="admin">
      <mat-icon>verified_user</mat-icon> Admin Board</a>
</span>
<span *ngIf="!authority">
  <a mat-button routerLink="auth/login">
    <mat-icon>exit_to_app</mat-icon> Login
  </a>
</span>
<span *ngIf="!authority">
  <a mat-button routerLink="signup">
      <mat-icon>person_add</mat-icon> Sign Up
  </a>
</span>
<span *ngIf="authority">
  <button mat-button (click)="logout()"class="example-icon">
      <mat-icon>power_setting_new</mat-icon> Logout
  </button>
</span>

</mat-toolbar>

<router-outlet></router-outlet>
