<mat-toolbar color="primary">
  <span>Welcome to {{title}}!</span>
</mat-toolbar>

<mat-toolbar>
  <span>
      <a mat-button routerLink="/random">Random</a>
  </span>
  <span>
      <a mat-button routerLink="/performers">Artists</a>
  </span>
  <span>
      <a mat-button routerLink="/albums">Albums</a>
  </span>
  <span>
    <a mat-button routerLink="/ratings">Ratings</a>
  </span>
  
  <span *ngIf="authority === 'user'">
    <a mat-button [routerLink]="['/user', loggedUser]">{{loggedUser}}</a>
  </span>
  <span *ngIf="authority === 'admin'">
    <a mat-button routerLink="admin">Admin Board</a>
  </span>
  <span *ngIf="!authority">
    <a mat-button routerLink="auth/login">Login</a>
  </span>
  <span *ngIf="!authority">
    <a mat-button routerLink="signup">Sign Up</a>
  </span>
  <span *ngIf="authority">
    <button mat-button (click)="logout()">Logout</button>
  </span>



</mat-toolbar>

<router-outlet></router-outlet>
