<mat-card>
  <form #albumForm="ngForm" (ngSubmit)="save(albumForm.value)">
    <mat-card-header>
      <mat-card-title><h2>{{album.albumId ? 'Edit' : 'Add'}} Album</h2></mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
      <input type="hidden" name="performerId" [(ngModel)]="album.performerId">

      <input type="hidden" name="albumId" [(ngModel)]="album.albumId">
      
      <p *ngIf="album.albumId">{{album.name}}</p>

      <p>
      <mat-form-field>
        <input matInput placeholder="Album Title" 
        [(ngModel)]="album.title" required name="title" #title>
      </mat-form-field>
    </p>
      <p>
      <mat-form-field class="example-full-width">
          <input matInput placeholder="Year"
          [(ngModel)]="album.year" required name="year" #year>
        </mat-form-field>
      </p>

    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit"
              [disabled]="!albumForm.form.valid">Save</button>
      <a mat-button (click)="goBack()">Cancel</a>
    </mat-card-actions>
  
  </form>
</mat-card>