<mat-card>
  <mat-card-title *ngIf="album">{{album.title}} {{album.name}} {{album.year}}</mat-card-title>

  <mat-card-actions *ngIf="album">
    <button mat-button [routerLink]="['/performer', album.performerId, 'details']">{{album.name}}</button>

    <div *ngIf="authorities.includes('ROLE_USER')">
      <button mat-button [routerLink]="['/album', album.albumId, 'edit']">Edit</button>
      <button mat-button [routerLink]="['/album', album.albumId, 'rate']">Rate</button>
      <button mat-button (click)="remove()">Remove</button>
    </div>
  </mat-card-actions>

  <mat-card-content>

    <app-ratings-list 
      [resultsLength]="resultsLength" 
      [ratings]="ratings"
      [isLoadingResults]="isLoadingResults" 
      [isRateLimitReached]="isRateLimitReached">
    </app-ratings-list>
  
  </mat-card-content>
</mat-card>