/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* body {
  margin: 0;
  font-family: Roboto, sans-serif;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-button-row button, .example-button-row a {
  margin-right: 8px;
}

.shaddles {
  transition: none !important;
  box-shadow: none !important;
}
