<mat-card *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</mat-card>
 
<ng-template #signupForm>

  <mat-card>
      <mat-card-title>Register</mat-card-title>   

  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <mat-card-content>
          <p>     
              <mat-form-field>
        <input type="text" matInput placeholder="Username" name="username" [(ngModel)]="form.username" #username="ngModel"
        required />
      </mat-form-field>
    </p>

      <!-- <div *ngIf="f.submitted && username.invalid">
        <div *ngIf="username.errors.required">Username is required</div>
      </div> -->
      <p>     
          <mat-form-field>
      <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="form.password" #password="ngModel"
        required minlength="6" />
      </mat-form-field>
    </p>

  </mat-card-content>
  <mat-card-actions>
      <!-- <div *ngIf="f.submitted && password.invalid">
        <div *ngIf="password.errors.required">Password is required</div>
        <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
      </div> -->
      <div class="button">
      <button mat-raised-button color="primary">Register</button>
      <p *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
        Signup failed!<br/>{{errorMessage}}
      </p>
    </div>
  </mat-card-actions>
  </form>

  </mat-card>
</ng-template>