<mat-card>
    <form #ratingForm="ngForm" (ngSubmit)="save(ratingForm.value)">
      <mat-card-header>
        <mat-card-title><h2>{{rating.ratingId ? 'Edit' : 'Add'}} Rating</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
        <input type="hidden" name="albumId" [(ngModel)]="rating.albumId">
        
        <input type="hidden" name="ratingId" [(ngModel)]="rating.ratingId">

        <input type="hidden" name="userName" [(ngModel)]="rating.userName">
        
        <div *ngIf="album">
          <p>{{album.title}}</p>
          <p>{{album.name}}</p>
          <p>{{album.year}}</p>
        </div>

        <div *ngIf="rating.ratingId">
            <p>{{rating.title}}</p>
            <p>{{rating.name}}</p>
            <p>{{rating.year}}</p>
        </div>

        <p>
        <mat-form-field>
          <input matInput placeholder="Score" 
          [(ngModel)]="rating.rate" required name="rate" #rate>
        </mat-form-field>
      </p>
        <p>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Description"
            [(ngModel)]="rating.description" required name="description" #description>
          </mat-form-field>
        </p>
  
      </mat-card-content>
      
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!ratingForm.form.valid">Save</button>
        <a mat-button (click)="goBack()">Cancel</a>
      </mat-card-actions>
    
    </form>
  </mat-card>